@use '../utilities/classes.scss' as * ;

#home{
    position: relative;
    // padding:20%;


    #header{
        display:flex;
        padding:30px 0 !important;
        justify-content: space-around;
        align-items: center;
        .header_logo{
            display: grid;
            .name{
                font-size:1.6rem;
                font-weight: 800;
                color:maroon;
            }

            .tag{
                transform: translateY(-5px);
                text-transform: uppercase;
                font-weight:300;
                opacity:.7;
                letter-spacing: 10px;
                @extend .small;
            }
        }

        .header_link{
            @extend .small;
            @extend %link;
        }
    }




    #hero{
        // padding:20px 0 0 0;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        position:relative;
        overflow: hidden;
        .title{
            text-align: center;
            .title-top{
                display:flex;
                font-weight:bold;
                opacity:.5;
                max-width:500px;
                margin:auto;
                justify-content: space-around;
                // background:red;
                // justify-content: center;
                gap:10px;
            }
            .title-bottom{
                font-size: 4rem;
                font-weight:500
            }
        }




        .image-container{
            // animate with and height @framer-motion
            margin:30px 0 0 0;
            background-size:cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: maroon;
        }

    }


    .d-c{
        padding:25%
    }
}